= form_for @tag_relation do |f|
  - if @tag_relation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag_relation.errors.count, "error")} prohibited this tag_relation from being saved:"
      %ul
        - @tag_relation.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
