%h1 Listing books

%table
  %tr
    %th Name
    %th Image
    %th Author name
    %th Author url
    %th Description
    %th
    %th
    %th

  - @books.each do |book|
    %tr
      %td= book.name
      %td= book.image
      %td= book.author_name
      %td= book.author_url
      %td= book.description
      %td= link_to 'Show', book
      %td= link_to 'Edit', edit_book_path(book)
      %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Book', new_book_path
