%p#notice= notice

%p
  %b Name:
  = @book.name
%p
  %b Image:
  = @book.image
%p
  %b Author name:
  = @book.author_name
%p
  %b Author url:
  = @book.author_url
%p
  %b Description:
  = @book.description

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
